
.idea/workspace.xml
*/*.xml
cmake-build-debug/**
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/PLD-COMP.iml
.idea/workspace.xml___jb_tmp___
libraries/macOS/**

*.s

\.idea/inspectionProfiles/Project_Default\.xml

Test/Back/out
